
.menu-view-element-outer-box {
  position: relative;
  background-color: #C8DADD;
  //font-family: , serif;

  .inner-box {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    overflow-wrap: normal;

    color: #000000;

    .image{
      object-fit: contain;
      width: 100%;
      height: 40%;
    }
    .name-label{
      font-size: 80%;
      height: 29%;
      font-weight: bold;
      text-align: center;
      line-height: 110%;
    }

    .price-label{
      margin-top: 0;
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      height: 11%;
    }
    .add-box{
      margin-top: 0;
      height: 15%;
      font-size: 150%;
      font-weight: bold;
      text-align: center;

      .add-button{
        position: relative;
        width: 100%;
        height: 80%;
        background-color: #fefe22;
        border-radius: 10%/50%;
        font-weight: bold;
        text-align: center;
      }
    }
  }

}
