.kiosk-button{
    width: 111px;
    height: 59px;
    background-color: #98AFFF;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}