.payment-view{
    width: 427px;
    height: 774px;
    border:1px solid green;
    position: absolute;
    left: 50%;
    margin-left: -214.5px;
    .total-price{
        font-size: 200%;
        height: 100px;
        margin-bottom: 30px;
    }
    .button-box{
        text-align: center;
        align-items: center;
    .cancel-button{
        width: 150px;
        display: inline-block;
        background-color: rgb(240, 157, 157);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 5%;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 200%;
        text-align: center;
        align-items: center;
    }
    .confirm-button{
        width: 150px;
        display: inline-block;
        background-color: rgb(19, 163, 19);
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 5%;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 200%;
        text-align: center;
        align-items: center;
        position: relative;
        .hand {
            pointer-events: none;
            max-width: 60px;
            max-height: 60px;
            width: auto;
            height: auto;
            z-index: 200;
        
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0)
          }
    }
}
}
