
.select-list-view{
  border: black solid 1px;
  margin: 15px 4px 0 4px;
  width: 70%;
  height: 45%;
  float: left;

  .select-header{
    height: 10%;
    font-size: 200%
  }


  .inner-box{
    height: 90%;
    text-align: left;
    margin: 0 0;
    overflow: auto;
    .slot{
      display: inline-block;
      margin: 12px 9px;
    }
    position: relative;
  }
}
